
<div class="container">
        <h1>glasses details:</h1>
        <img src="{{purchaseService.PurchaseDetail.img}}" alt="">
        <p>brand: {{purchaseService.PurchaseDetail.brand}}</p>
        <p>details: {{purchaseService.PurchaseDetail.details}}</p>
        <p>lens Type: {{purchaseService.PurchaseDetail.lensType}}</p>
        <br>
        <p>right eye Measurement: {{purchaseService.PurchaseDetail.re}}</p>
        <p>left eye Measurement: {{purchaseService.PurchaseDetail.le}}</p>
        <p>right eye cilinder Measurement: {{purchaseService.PurchaseDetail.rec}}</p>
        <p>left eye  cilinder Measurement: {{purchaseService.PurchaseDetail.lec}}</p>

        
</div>
kobieshka@gmail.com